#Owner{
	width: 100px;
	height: 15px;
	padding: 15px;
	margin-top : 15px;
}
#Comment{
	width: 300px;
	height: 50px;
	padding : 15px;
	margin-top : 10px;
}
.AddButton{

	margin-left: 25px;
	margin-top: 10px;
}
.DeleteButton{

	margin-left: 5px;
	margin-top: 10px;
}
.SelectButton{

	margin-left: 15px;
	margin-top: 10px;
}
.ReplyButton{

	margin-left: 15px;
	margin-top: 10px;
}
.NestedComments{
	display : block;
}